[Unit]
Description=Amd Power Control
Wants=mapper-wait@-xyz-openbmc_project-inventory.service
After=dimm-info.service

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/power-control
Type=dbus
BusName=xyz.openbmc_project.State.Host

[Install]
WantedBy=sysinit.target

